<!doctype html>
<!--[if lte IE 9]>
<html lang="en" class="oldie">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contacto</title>
  <link rel="stylesheet" media="all" href="style.css" />
</head>
<body>
  
<header>CONTACTO</header>

<form id="form" class="topBefore">
		
		  <input id="name" type="text" placeholder="NOMBRE">
		  <input id="email" type="text" placeholder="E-MAIL">
		  <textarea id="message" type="text" placeholder="MENSAJE"></textarea>
  <input id="submit" type="submit" value="ENVIAR!">
  
</form>

<p style="text-align:center">Teléfono: 3624371975</p>
<p style="text-align:center">Correo electrónico: fundacionobrandoenti@hotmail.com</p>

<p style="text-align:center">Colabora con nosotros:  &nbsp;
<a href="https://www.mercadopago.com/mla/checkout/start?prefid=79231827-872301b9-2668-434-8582-dale48£74e25" name="MP-payButton"clasg='blue-ar-1-rn-none'> Donar </a>
</p>
  <br>
    <br>
    <div class="col-lg-12">
      <div id="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14161.132893683854!2d-59.0020608!3d-27.46044065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1671764836924!5m2!1ses!2sar"
          width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

  </body>
</html>
